body {
}

.footer-container {
    background-color: deeppink;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.footer-border-bottom{
    color:midnightblue
}
