body {
}
/* Frame title */
.frame-title {
    color: saddlebrown;
    text-align: start;
    text-transform: uppercase;
}

    .frame-title::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 2px;
        background-color:gold ;
        margin: 7px -100px auto 5px;
        margin-right: -100px;
        border-radius: 2px;
    }
.frame-body {
    color: darkslateblue;
    text-align: start;
    text-transform: uppercase;
    margin: 8px 0 8px 0;
    font-size: 16px;
}
.footer-container {
    background-color: hotpink;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
.footer-border-bottom {
    background-color: darkslateblue;
}
