@using Microsoft.Extensions.Options

<!--inject IOptions<ContactInfoOptions> ContactInfoOptions-->

<div class="container-fluid footer-container text-light wow fadeIn" data-wow-delay="0.1s">
    <div class="container pb-5">
        <div class="row g-5">
            <div class="col-md-12 col-lg-6">
                <div class="footer-border-bottom rounded p-2">
                    <a class="anchor-style" href="">
                        <h3 class="mb-3">Dodo's حلويات</h3>
                    </a>
                    <p class="text-white mb-0">
                        أشهي الحلويات و الكيكات
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h6 class="frame-title text-uppercase mb-4">Contact</h6>
                <p class="mb-2 d-flex">
                    <i class="fa fa-map-marker-alt me-3 justify-content-start"></i>
                    El mahallah elkubra</p>
                <p class="mb-2 d-flex">
                    <i class="fa fa-phone-alt me-3 justify-content-start"></i>
                    0541238108</p>
                <p class="mb-2 d-flex">
                    <i class="fa fa-envelope me-3 justify-content-start"></i>
                    amrnewstory@gmail.com</p>                
                <div class="d-flex pt-2 justify-content-start">
                    <a class="btn btn-outline-light btn-social m-1" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social m-1" href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social m-1" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social m-1" href="https://www.linkedin.com/in/amr-yakout-683ba0272/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="col-md-6 d-flex flex-column align-items-start">
                    <h6 class="frame-title">Company</h6>
                    <a class="frame-body" href="">About Us</a>
                    <a class="frame-body" href="">Contact Us</a>
                    <a class="frame-body" href="">Privacy Policy</a>
                    <a class="frame-body" href="">Terms & Condition</a>
                    <a class="frame-body" href="">Support</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; 
                    <a style="color:darkslateblue" href="">Dodo's sweets</a>
                    , All Right Reserved.
                    Developed By 
                    <a style="color:darkslateblue"
                       href="https://www.linkedin.com/in/amr-yakout-683ba0272/">
                        amr yakout
                    </a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="/">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // private ContactInfoOptions _contactOptions = new();
    // protected override void OnInitialized()
    // {
    //     _contactOptions = ContactInfoOptions.Value;
    // }
}
