@using Microsoft.Extensions.Options

@inject NavigationManager NavigationManager

@* implements IDisposable
inject IOptions<ContactInfoOptions> ContactInfoOptions
 *@

<MudGrid Class="container-fluid">
    <MudItem xs="12">
    </MudItem>
    <MudSpacer/>
    <MudItem>
    </MudItem>
</MudGrid>


<div class="container-fluid">
    <div class="row">
        <MudText 
            Style="align-items:center;color:deeppink"
            Class="col" 
            Typo="Typo.h2" 
            Align="Align.Center">حلويات دودوز
        </MudText>

        <div class="col-auto">
            <MudImage src="images/dodoslogo.jpg" Style="position:center" alt="Dodo's Cakes Logo" width="100" height="100" />
        </div>
    </div>
</div>


@code {
    private string? currentUrl;
    // private ContactInfoOptions _contactOptions = new();
    // protected override void OnInitialized()
    // {
    //     _contactOptions = ContactInfoOptions.Value;
    //     currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    //     NavigationManager.LocationChanged += OnLocationChanged;
    // }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

