@using Microsoft.Extensions.Options

@inject NavigationManager NavigationManager

@* implements IDisposable
inject IOptions<ContactInfoOptions> ContactInfoOptions
 *@


<MudGrid Class="container-fluid" Style="position:sticky;top:0;z-index:1;background-color:white">
    <MudItem xs="3" Class="d-flex align-items-center justify-content-center">
        <MudText 
            Style="color:deeppink"
            Typo="Typo.h4" 
            Align="Align.Center">حلويات دودوز
        </MudText>
    </MudItem>
    <MudItem xs="6" Class="d-flex align-items-center">
        <MudTextField T="string" Clearable="true" 
            Variant="Variant.Outlined"
            ClearIcon="@Icons.Material.Filled.Clear" Adornment="Adornment.End" 
            AdornmentIcon="@Icons.Material.Filled.Search" 
            Style="text-align:justify">
        </MudTextField>
    </MudItem>
    <MudItem xs="3" Class="d-flex justify-content-center">
        <MudImage src="images/dodoslogo.jpg" Class="d-block" alt="Dodo's Cakes Logo" width="100" height="100" />
    </MudItem>
</MudGrid>


@* <div class="container-fluid">
    <div class="row">
        <MudText 
            Style="align-items:center;color:deeppink"
            Class="col" 
            Typo="Typo.h2" 
            Align="Align.Center">حلويات دودوز
        </MudText>

        <div class="col-auto">
            <MudImage src="images/dodoslogo.jpg" Style="position:center" alt="Dodo's Cakes Logo" width="100" height="100" />
        </div>
    </div>
</div>
 *@


@code {
    private string? currentUrl;
    // private ContactInfoOptions _contactOptions = new();
    // protected override void OnInitialized()
    // {
    //     _contactOptions = ContactInfoOptions.Value;
    //     currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    //     NavigationManager.LocationChanged += OnLocationChanged;
    // }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

